@import url(./styles/header.css);
@import url(./styles/banner.css);
@import url(./styles/carrossel.css);
@import url(./styles/topicos.css);

:root {
    --cor-de-fundo: #F7E6C4;
    --fundo-claro: #FFF4F4;
    --laranja: #F1C376;
    --verde: #606C5D;
    --verde-degrade: linear-gradient(97.54deg, #374134 35.49%, #606C5D 165.37%);

    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

